<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ALL EVENTS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/AllEvents.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <script src="https://kit.fontawesome.com/9d595d1bf3.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">GAME on</label>
    <ul>
     
      <li class="link"><a class="active anc" href="allEvents">ALL EVENTS</a></li>
      <li class="link"><a class="anc" href="addEvent">ADD EVENT</a></li>
      <li class="link"><a class="anc" href="#">Feedback</a></li>
      <li class="link"><a class="anc" href="/">LOGOUT</a></li>
      <li class="profile">
        <i class="fa-regular fa-user"></i>
        <p class="proLink"><%= name %></p>
      </li>
    </ul>
  </nav>
  <section class="event-section">
    <h1 class="title-name">All Events</h1>
    <ul class="event-list">
      <% FormattedEventData.forEach(event => { %>
        <li class="event-item">
          <div class="event-details">
            <h2 class="event-title"><%= event.eventTitle %></h2>
            <div class="event-buttons">
              <a href="/viewEvent?eventId=<%= encodeURIComponent(event.id) %>"><button class="event-button">View Event</button></a>
              <a href="/viewRegisters?eventId=<%= encodeURIComponent(event.id) %>"><button class="event-button">View Registers</button></a>
            </div>
          </div>
        </li>
      <% }); %>
    </ul>
  </section>
</body>
</html>
